<ul>
  <li>{{link-to 'React' 'org.repo.issues' 'react'}}</li>
  <li>{{link-to 'Relay' 'org.repo.issues' 'relay'}}</li>
  <li>{{link-to 'Watchman' 'org.repo.issues' 'watchman'}}</li>
  <li>{{link-to 'React Native' 'org.repo.issues' 'react-native'}}</li>
</ul>

{{outlet}}
